@charset "UTF-8";

/*
Typical Device Breakpoints (De acordo com o site da W3c);

Dispositivos muito Pequenos: max-width: 600px
Dispositivos Pequenos: min-width:600px
Dispositivos Médios: min-width: 768px
Dispositivos Grandes/largos: min-width: 992px
Dispositivos Muito Grandes/largos: min-width: 1200px

*/

@media screen and (min-width: 768px) {
   body {
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
   }
   
    #login {
        width: 75vw;
        height: 380px;
    }

    #login > #imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    #login > #formulario {
        float: right;
        width: 65%;

    }

    #formulario > h1 {
        font-size: 1.6em;
    }
    
    #formulario > p {
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    form > div.campo {
        margin: 15px 0px;
    }

    form > input[type=submit] {
        margin-top: 20px;
    }

    form > a.botao {
        margin-top: 15px;
    }
}

@media screen and (min-width: 992px) {
    #login {
        width: 950px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #formulario {
        float: left;
        width: 50%;
    }

    #formulario > h1 {
        font-size: 2em;
    }
    
    #formulario > p {
        font-size: 1.2em;
        margin-top: 0px;
    }
}